[Unit]
Description=Kubernetes Controller Manager

[Service]
EnvironmentFile=/etc/kubernetes/config
EnvironmentFile=/etc/kubernetes/controller-manager
ExecStart=/usr/bin/kube-controller-manager \
            --logtostderr=${KUBE_LOGTOSTDERR} \
	    --v=${KUBE_LOG_LEVEL} \
            --master=${KUBE_MASTER}

[Install]
WantedBy=multi-user.target
